*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgb(33, 25, 34) !important;

  /* Aqui va el font family y el tamaño traten de usar rem :) */
}
.index
{
    height: 100vh;
    overflow-y: hidden;
    overscroll-behavior-y: none;
}
/* Provisional header stuff */
header
{
  display: flex;
  height: 80px;
  background-color: #9b9b9b;
}
/* Angel css work */
.mainIndex
{
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.mainPinterest
{
  width: 100%;
}
.main
{
  top:80px;
  display: flex;
  position: absolute;
  overflow: hidden;
  align-content: center;
  justify-content: center;
}
.firstContent
{
  transform: translateY(0px)translateZ(0px);
  flex-direction: column;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.firstContent_mainStuff
{
  width: 1750px;
  height: 100%;
  position: relative;
}
.mainStuff_Text
{
  height: 30%;
  align-items: center;
  flex-direction: column;
  display: flex;

}
.TextSecond
{
  margin: 2px;
  font-size: 4.5rem;;
  font-weight: 600;
}
.TextSecond_Main
{
  height: 4.5rem;
  width: 65%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  overflow: hidden;
}
.item
{
    font-size: 3.7rem;
    margin: 0px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    opacity: 0;
    z-index: 1;
}
.TextSecondSub
{
  margin-top: 5rem;
}
.subdisplay
{
  display: flex;
  margin: 0;
  padding: 0;
}
ul li
{
  list-style: none;
  padding: 0;
}
li
{
  display: list-item;
  text-align: -webkit-match-parent;
}
.dot
{
    background: rgb(225, 225, 225);
    display: inline-block;
    padding: 5px;
    height: 0.83rem;
    width: 0.83rem;
    border-radius: 50px;
    margin: 6px;
    outline: none;
    border-style: none;
}
/* background */
.mainStuff_conteinerFlex
{
  display: flex;
  width: 1750px;
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: auto;
  right: auto;
}
.flexColumns
{
  width: 20%;
    width: calc(3/var(12)*100%);
}
.flexItems
{
    transform: translateY(0px);
    opacity: 0;
    z-index: 0;
    object-fit: cover;
    overflow: visible;
}
.ItemContainer
{
  width: 15.67rem;
  height: 22rem;
  padding: 8px;
}
.Container
{
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.Images
{
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
}
.bottomlight
{
    height: 180px;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    opacity: 1;
    bottom: 0;
    position: fixed;
}
/* animations in general */
/* letter animations */
.one
{
  color: rgb(0, 118, 211);
  animation: 26s ease-out infinite One;
  transition-timing-function: ease-out;
}
.two
{
  color: rgb(97, 140, 123);
  animation: 26s ease-out infinite two;
  transition-timing-function: ease-out;
}
.three
{
  color: rgb(194, 139, 0);
  animation: 26s ease-out infinite three ;
  transition-timing-function: ease-out;
}
.four
{
  color: rgb(64, 122, 87);
  animation: 26s ease-out infinite four;
  transition-timing-function: ease-out;
}
@keyframes One {
  0%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  2.16%
  {
    transform: translateY(-40px);
    opacity: 1

  }
  21.5%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  23.66%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
  100%
  {
    transform: translateY(-80px);
    opacity: 0;
  }
}
@keyframes two {
  0%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  25%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  27.16%
  {
    transform: translateY(-40px);
    opacity: 1;
  }
  46.5%
  {
    transform: translateY(-40px);
    opacity: 1;
  }
  48.66%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
  100%
  {
    transform: translateY(-80px);
    opacity: 0;
  }
}
@keyframes three {
  0%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  50%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  52.16%
  {
    transform: translateY(-40px);
    opacity: 1;
  }
  71.5%
  {
    transform: translateY(-40px);
    opacity: 1;
  }
  73.66%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
  100%
  {
    transform: translateY(-80px);
    opacity: 0;
  }
}
@keyframes four {
  0%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  75%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  77.16%
  {
    transform: translateY(-40px);
    opacity: 1;
  }
  96.5%
  {
    transform: translateY(-40px);
    opacity: 1;
  }
  100%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
/* dots animations */
.uno{
  animation: 26s linear infinite uno;
  transition-timing-function: linear;
}
.dos
{
  animation: 26s linear infinite dos;
  transition-timing-function: linear;
}
.tres
{
  animation: 26s linear infinite tres;
  transition-timing-function: linear;
}
.cuatro
{
  animation: 26s linear infinite cuatro;
  transition-timing-function: linear;
}
@keyframes uno {
  0%
  {
    background-color: rgb(0, 118, 211);

  }
  18%
  {
    background-color:  rgb(0, 118, 211);
  }
  18.01%
  {
    background-color:  rgb(225, 225, 225);
  }
}
@keyframes dos {
  18%
  {
    background-color:  rgb(225, 225, 225);
  }
  18.1%
  {
    background-color: rgb(97, 140, 123);
  }
  41%
  {
    background-color: rgb(97, 140, 123);
  }
  41.01%
  {
    background-color:  rgb(225, 225, 225);
  }
}
@keyframes tres {
  41%
  {
    background-color:  rgb(225, 225, 225);
  }
  41.1%
  {
    background-color: rgb(194, 139, 0);
  }
  70%
  {
    background-color: rgb(194, 139, 0);
  }
  70.01%
  {
    background-color:  rgb(225, 225, 225);
  }
}
@keyframes cuatro {
  70%
  {
    background-color:  rgb(225, 225, 225);
  }
  70.1%
  {
    background-color:rgb(64, 122, 87);
  }
  99%
  {
    background-color:rgb(64, 122, 87);
  }
  100%
  {
    background-color:  rgb(225, 225, 225);
  }
}
/* grid animations
Fist grid animation */
.ongle
{
  animation: 26s linear infinite ongle;
  transition-timing-function: linear;
}
.deux
{
  animation: 26s linear infinite deux;
  transition-timing-function: linear;
}
.trois
{
  animation: 26s linear infinite trois;
  transition-timing-function: linear;
}
.quatre
{
  animation: 26s linear infinite quatre;
  transition-timing-function: linear;
}
.cinq
{
  animation: 26s linear infinite cinq;
  transition-timing-function: linear;
}
.six
{
  animation: 26s linear infinite six;
  transition-timing-function: linear;
}
.sept
{
  animation: 26s linear infinite sept;
  transition-timing-function: linear;
}
@keyframes ongle {
  0%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  1.7%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  15%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  17%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes deux {
  1.7%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  3.2%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  17%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  19%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes trois {
  3.2%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  4.7%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  19%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  21%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes quatre {
  4.7%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  6.2%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  21%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  23%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes cinq {
  6.2%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  7.7%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  23%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  25%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes six {
  7.7%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  9.2%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  25%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  27%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes sept {
  9.2%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  10.7%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  27%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  28%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
/* Second grid animation */
.un
{
  animation: 26s linear infinite un;
  transition-timing-function: linear;
}
.due
{
  animation: 26s linear infinite due;
  transition-timing-function: linear;
}
.tre
{
  animation: 26s linear infinite tre;
  transition-timing-function: linear;
}
.quattro
{
  animation: 26s linear infinite quattro;
  transition-timing-function: linear;
}
.cinque
{
  animation: 26s linear infinite cinque;
  transition-timing-function: linear;
}
.sei
{
  animation: 26s linear infinite sei;
  transition-timing-function: linear;
}
.sette
{
  animation: 26s linear infinite sette;
  transition-timing-function: linear;
}
@keyframes un {
  18%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  19.7%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  36%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  38%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes due {
  19.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  21.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  38%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  40%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes tre {
  21.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  23.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  40%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  42%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes quattro {
  23.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  25.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  42%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  44%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes cinque {
  25.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  27.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  44%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  46%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes sei {
  27.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  29.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  46%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  48%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes sette {
  29.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  31.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  48%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  50%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
/* Thirth grid animation */
.ceann
{
  animation: 26s linear infinite ceann;
  transition-timing-function: linear;
}
.a_do
{
  animation: 26s linear infinite a_do;
  transition-timing-function: linear;
}
.triur
{
  animation: 26s linear infinite triur;
  transition-timing-function: linear;
}
.ceathrar
{
  animation: 26s linear infinite ceathrar;
  transition-timing-function: linear;
}
.cuig
{
  animation: 26s linear infinite cuig;
  transition-timing-function: linear;
}
.seisear
{
  animation: 26s linear infinite seisear;
  transition-timing-function: linear;
}
.seacht
{
  animation: 26s linear infinite seacht;
  transition-timing-function: linear;
}
@keyframes ceann {
  39%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  41.7%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  66%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  68%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes a_do {
  41.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  43.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  68%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  70%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes triur {
  43.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  44.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  70%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  72%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes ceathrar {
  45.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  47.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  72%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  74%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes cuig {
  47.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  49.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  74%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  76%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes seisear {
  49.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  51.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  76%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  78%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes seacht {
  51.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  53.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  78%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  80%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
/* 4th grid animation */
.ett
{
  animation: 26s linear infinite ett;
  transition-timing-function: linear;
}
.tva
{
  animation: 26s linear infinite tva;
  transition-timing-function: linear;
}
.trev
{
  animation: 26s linear infinite trev;
  transition-timing-function: linear;
}
.fyra
{
  animation: 26s linear infinite fyra;
  transition-timing-function: linear;
}
.fem
{
  animation: 26s linear infinite fem;
  transition-timing-function: linear;
}
.sex
{
  animation: 26s linear infinite sex;
  transition-timing-function: linear;
}
.sju
{
  animation: 26s linear infinite sju;
  transition-timing-function: linear;
}
@keyframes ett {
  70%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  72%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  86%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  88%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes tva {
  72%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  73.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  88%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  90%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes trev {
  73.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  74.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  90%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  92%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes fyra {
  75.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  77.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  92%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  94%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes fem {
  77.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  79.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  94%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  96%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes sex {
  79.9%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  81.4%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  96%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  98%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
@keyframes sju {
  81.4%
  {
    transform: translateY(0px);
    opacity: 0;
  }
  83.9%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  98%
  {
    transform: translateY(-40px);
    opacity: 1
  }
  100%
  {
    transform: translateY(-90px);
    opacity: 0;
  }
}
/* media queries */
@media screen and (max-width: 400px){
  /* ralf */
  .card-columns {
      column-count: 1;
      orphans: 1;
      widows: 1;
  }
  .card-columns .card
  {
    margin-bottom: .2rem;
  }
  .card-pin:hover .desaparecer {
      display: none;
  }
  .sup
  {
    justify-content: flex-end !important;
  }
  .card-pin:hover .button-red
  {
    padding: 0.3rem 1rem !important;
    margin-right: .5rem !important;
  }
  /* angel */
  .item
  {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .TextSecond
  {
    font-size: 2.2rem;
  }
  .TextSecondSub
  {
    margin-top: 1rem;
  }
  .mainStuff_Text
  {
    margin-top: 7rem;
  }
  .flexColumns
  {
    width: 10%;
  }
  .ItemContainer
  {
    width: 10.67rem;
    height: 17rem;
  }
  .item_none
  {
    display: none;
  }
  .mainStuff_conteinerFlex
  {
    margin-left: 18rem;
  }
  .TextSecond_Main
  {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 530px) and (min-width: 401px){
  /* ralf */
  .card-columns {
      column-count: 2;
      orphans: 1;
      widows: 1;
  }
  .card-columns .card
  {
    margin-bottom: .2rem;
  }
  .card-pin:hover .desaparecer {
      display: none;
  }
  .sup
  {
    justify-content: flex-end !important;
  }
  .card-pin:hover .button-red
  {
    padding: 0.3rem 1rem !important;
    margin-right: .5rem !important;
  }
  /* angel */
  .item
  {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .TextSecond
  {
    font-size: 2.7rem;
  }
  .mainStuff_Text
  {
    margin-top: 7rem;
  }
  .flexColumns
  {
    width: 10%;
  }
  .ItemContainer
  {
    width: 10.67rem;
    height: 17rem;
  }
  .item_none
  {
    display: none;
  }
  .mainStuff_conteinerFlex
  {
    margin-left: 18rem;
  }
  .TextSecond_Main
  {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 780px) and (min-width: 531px){
  /* ralf */
  .card-columns {
      column-count: 3;
      orphans: 1;
      widows: 1;
  }
  .card-columns .card
  {
    margin-bottom: .2rem;
  }
  .card-pin:hover .desaparecer {
      display: none;
  }
  .sup
  {
    justify-content: flex-end !important;
  }
  .card-pin:hover .button-red
  {
    padding: 0.3rem 1rem !important;
    margin-right: .5rem !important;
  }
  /*angel*/
  .mainStuff_Text
  {
    margin-top: 2rem;
  }
  .flexColumns
  {
    width: 10%;
  }
  .ItemContainer
  {
    width: 10.67rem;
    height: 17rem;
  }
  .item_none
  {
    display: none;
  }
  .mainStuff_conteinerFlex
  {
    margin-left: 18rem;
  }
  .TextSecond_Main
  {
    margin-top: 2rem;
  }
  .TextSecond
  {
    font-size: 3.4rem;
  }
  .TextSecondSub
  {
    margin-top: 2rem;
  }
  .item
  {
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 1199px) and (min-width: 781px){
  /* ralf */
  .card-columns {
      column-count: 4;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }
  .card-pin:hover .desaparecer {
      display: none;
  }
  .sup
  {
    justify-content: flex-end !important;
  }
  .card-pin:hover .button-red
  {
    padding: 0.3rem 1rem !important;
    margin-right: .5rem !important;
  }
  /*Angel responsive*/
}
@media screen and (max-width: 1400px) and (min-width: 1200px){
  .card-pin:hover .desaparecer {
      display: none;
  }
  .sup
  {
    justify-content: flex-end !important;
  }
  .card-pin:hover .button-red
  {
    padding: 0.3rem 1rem !important;
    margin-right: .5rem !important;
  }
}
@media screen and (min-width: 1200px){
  /* ralf */
  .card-columns {
      column-count: 5;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }
  /*Angel responsive*/
  .mainStuff_Text
  {
    margin-top: 7rem;
  }
  .TextSecond
  {
    font-size: 4rem;
  }
  .item
  {
    font-size: 4rem;
  }
  .TextSecondSub
  {
    margin-top: 0rem;
  }
}
/*---------------------------------------------------- alf work --------------------------------------------------------*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
}

.container {
    width: 100%;
    margin: 0px auto;
    max-width: 94%;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    margin-top: 2rem;
    min-height: min-content;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;
}

.card-columns .card {
    width: 100%;
    max-height: max-content;
    display: inline-block;
    margin-bottom: 0.75rem;
}


/* Caracteristicas de las tarjetas */
.card {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 1rem;

}

.card-title {
    color: rgba(0, 0, 0, 0.0)
}


/* Transparencia negra */

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /*opacity: 0;*/
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 30px;
}

.more {
    display: flex;
    font-size: 14px;
    position: absolute;
    bottom: 0.7rem;
    justify-content: space-evenly;
    width: 100%;
}

.card-pin:hover .overlay {
    /*opacity: .5;*/
    transition: ease .2s;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: zoom-in;
}

.card-pin:hover .card-title {
    color: rgba(255, 255, 255, 1);
    width: 0.625em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 3em;
    text-align: left;
    font-size: 1.2em;
}

.card-pin:hover .button-red {
    font-weight: 600;
    padding: 0.625rem 2.5rem;
    margin: 1rem 1rem 0.3rem 0rem;
    border-radius: 2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 0, 0, 1);
    text-align: center;
}

.card-pin:hover .button-gray {
    font-weight: 600;
    padding: 0.3em 1em;
    margin-left: 0.8em;
    border-radius: 2em;
    color:rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: center;
}
/* Imagen */
.card-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 30px;
}

/* Boton */
.sup {
    display: flex;
    justify-content: space-between;
}
.button-red {
    color: rgba(0, 0, 0, 0);
}

.button-gray {
    color: rgba(0, 0, 0, 0)
}
