*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mynav-boton {
  margin-left: 40px;
}

.mynav a {
  margin-right: 15px;
}

.mynav a:hover {
  border-bottom: 1px solid black;
}